__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
.env

.DS_Store
.AppleDouble
.LSOverride
._*

.idea/
*.iws
*.iml
*.ipr
out/

*.sqlite3
*.db

.docker/

.pytest_cache/
.coverage
htmlcov/

.vault_token